<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.orders.title}">Orders</title>
</head>
<body>
<h1 th:text="#{label.form.myOrders}">My orders</h1>
<table th:if="${not #lists.isEmpty(orders)}">
    <tr>
        <td th:text="#{label.form.numberOrder}">Number order</td>
        <td th:text="#{label.form.totalOrder}">Total order</td>
        <td th:text="#{label.form.createDate}">Create date order</td>
    </tr>
    <tr th:each="order : ${orders}">
        <td>
            <a th:href="@{'/order/' + ${order.getId()}}"
               th:text="${order.getId()}"></a>
        </td>
        <td th:text="${order.getSumTotal()}"></td>
        <td th:text="${#dates.format(order.getCreatedDate(), 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
</table>
<h2 th:if="${#lists.isEmpty(orders)}" th:text="#{label.form.ordersIsEmpty}">You have not made any orders yet.</h2>
<h4><a href="/catalog/root" th:text="#{label.url.catalog}">Catalog</a></h4>
<h4><a href="/" th:text="#{label.url.home}">Home</a></h4>
</body>
</html>